# Hugo default output directory
public/
/exampleSite/resources/
/exampleSite/.hugo_build.lock

node_modules/
build/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory

# Artefactos de build de Hugo (se regeneran en cada despliegue)
/.hugo_build.lock
/resources/_gen/images/
/resources/_gen/assets/css/
/resources/_gen/assets/lib/
/resources/_gen/assets/scss/
